/**
 * @Author: harsha
 * @Date:   2019-05-13T22:46:53+05:30
 * @Last modified by:   harsha
 * @Last modified time: 2019-05-20T11:32:59+05:30
 */



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.project-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.list-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f7f7f7;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
}

  .Branch-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }

  .Branch-title {
    font-size: 3em;
    text-align: left;
    margin-top: 50px !important;
    font-weight: 300;
  }
.App-link {
  color: #61dafb;
}
.percentage {color:green}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
